<!DOCTYPE HTML>
<html>

  <head>
    <title>Deck Builder</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- <link rel="icon" type="image/png" href="C:\Users\jpfef\OneDrive\Desktop\School\2021-2022\Applied Computer Science\Django\pakimon\pakidex\static\pakidex\images\pokibol.png" /> -->
  </head>

  <body>

    <h1>Deck Builder</h1>

    <form method="POST" action="http://127.0.0.1:8000/play/{{ user.username }}">
      <input type="hidden" name=deck_id value="{{ deck_id }}" />
      {% csrf_token %}
      <button class="btn btn-danger" type="submit">Cancel</button>
    </form>

    <iframe src="build/card" title="Create Card Form"></iframe>

  </body>

</html>
