{%load static%}

<!DOCTYPE HTML>
<html>

  <head>
    <title>Pakimon Login</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- <link rel="icon" type="image/png" href="C:\Users\jpfef\OneDrive\Desktop\School\2021-2022\Applied Computer Science\Django\pakimon\pakidex\static\pakidex\images\pokibol.png" /> -->
  </head>

  <body>

    <script type="text/javascript">
      function customSubmit() {
        myForm = document.getElementById("loginForm");
        usrnmeInput = document.getElementById("usrnme");
        psswdInput = document.getElementById("psswd");
        user = usrnmeInput.value;
        myForm.action = "/" + user;
        myForm.submit();
      }
    </script>


    <div class="container">
      <h1>Pakimon</h1>

      <form id="loginForm" method="POST">
        <p><input type="username" id="usrnme" name="usrnme" /></p>
        <p><input type="password" id="psswd" name="psswd" /></p>
        <button onclick="customSubmit()">Submit</button>
        {% csrf_token %}
      </form>


    </div>

  </body>

</html>
