{%load static%}

<!DOCTYPE HTML>
<html>

  <head>
    <title>Play Pakimon</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- <link rel="icon" type="image/png" href="C:\Users\jpfef\OneDrive\Desktop\School\2021-2022\Applied Computer Science\Django\pakimon\pakidex\static\pakidex\images\pokibol.png" /> -->
  </head>

  <body>
    <script>
      function makeTrue() {
        console.log("here")
        confirmedBool = document.getElementById("confirmed");
        confirmedBool = true;
        yesButton = document.getElementById("yesButton");
        console.log(yesButton);
        yesButton.dataDismiss="modal";
        yesButton.click();
        console.log(confirmedBool)
      }
    </script>

    <div class="container">
      <h1>Pakimon</h1>

      <h3>Welcome, {{ user.username }}</h3>
      <h4> {{ currUser.username }}'s page</h4>

      <br />

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="logout" value="logout"></input>
        <button type="submit" class="btn btn-danger btn-lg">Logout</button>
      </form>

      <form method="POST" action="http://127.0.0.1:8000/play/{{ user.username }}">
        {% csrf_token %}
        <input type="hidden" name="home" value="home"></input>
        <button type="submit" class="btn btn-primary btn-lg">Home</button>
      </form>

      <br />

      {% if user == currUser %}
        <a class="page-link" href="{% url 'buildDeck' user.username %}" style="color:black;text-decoration:none;">
          <p>+ Build a New Deck</p>
        </a>
      {% endif %}

      <br />

      {% for deck in userDecks %}
        <div class="container">
          <h5>Deck id: {{ deck.id }}</h5>
          {% if user == currUser %}
            <form method="POST" action="{% url 'buildCard' user.username %}">
              {% csrf_token %}
              <input type="hidden" name="deck_id" value="{{ deck.id }}"></input>
              <button type="submit" class="btn btn-success">+ Add Card</button>
            </form>
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="deck_id" value="{{ deck.id }}"></input>
              <input type="hidden" name="removeDeck" value="removeDeck"></input>
              <input type="hidden" id="confirmed" name="confirmed" value="false"></input>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">🗑️ Delete Deck</button>
            </form>
          {% endif %}
          <div class="row">
            {% for card in deck.cards %}
              <div class="col-3">
                <div class="card" style="width: 18rem;">
                  <h5 class="card-title">{{ card.personalName }}</h5>
                  <h6 class="card-subtitle">{{ card.species }}</h6>
                  <br />
                  <p>Type: {{ card.type }}</p>
                  <p>Level: {{ card.level }}</p>
                  <p>Health: {{ card.health }} </p>
                  {% if user == currUser %}
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ card.id }}"></input>
                    <input type="hidden" name="removeCard" value="removeCard"></input>
                    <button type="submit" class="btn btn-warning btn-sm">⚠️ Delete Card</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <br />
      {% endfor %}

    <br />
    <br />

      {% for deck in userDecks %}
        <h5>Deck id: {{ deck.id }}</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Card Id</th>
              <th scope="col">Personal Name</th>
              <th scope="col">Species</th>
              <th scope="col">Type</th>
              <th scope="col">Level</th>
              <th scope="col">Health</th>
            </tr>
          </thead>
          <tbody>
            {% for card in deck.cards %}
              <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.personalName }}</td>
                <td>{{ card.species }}</td>
                <td>{{ card.type }}</td>
                <td>{{ card.level }}</td>
                <td>{{ card.health }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br />
      {% endfor %}

    </div>
    <div id="confirmDelete" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            <p>Akre you sure you want to delete this deck?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" id="yesButton" class="btn btn-default" onclick="makeTrue()" data-dismiss="modal">Yes</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
