{%load static%}

<!DOCTYPE HTML>
<html>

  <head>
    <title>Play Pakimon</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- <link rel="icon" type="image/png" href="C:\Users\jpfef\OneDrive\Desktop\School\2021-2022\Applied Computer Science\Django\pakimon\pakidex\static\pakidex\images\pokibol.png" /> -->
  </head>

  <body>
    <div class="container">
      <h1>Pakimon</h1>

      <h3>Welcome, {{ user.username }}</h3>

      <br />

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="logout" value="logout"></input>
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>

      <br />

      {% for deck in userDecks %}
        <div class="row border border-dark">
          <div class="col-1 text-primary">
            <strong>
              {% for card in deck.cards %}
                {{ card.personalName }}
              {% endfor %}
            </strong>
          </div>
        </div>
      {% endfor %}

    </div>
  </body>
</html>
