{%load static%}

<!DOCTYPE HTML>
<html>

  <head>
    <title>Play Pakimon</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- <link rel="icon" type="image/png" href="C:\Users\jpfef\OneDrive\Desktop\School\2021-2022\Applied Computer Science\Django\pakimon\pakidex\static\pakidex\images\pokibol.png" /> -->
  </head>

  <body>
    <div class="container">
      <h1>Pakimon</h1>

      <h3>Welcome, {{ user.username }}</h3>

      <br />

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="logout" value="logout"></input>
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>

      <a class="page-link" href="{% url 'buildDeck' user.username %}" style="color:black;text-decoration:none;">
        <p>+ Build a New Deck</p>
      </a>

      <br />

      {% for deck in userDecks %}
        <div class="container">
          <div class="row">
            {% for card in deck.cards %}
              <div class="col-3">
                <div class="card" style="width: 18rem;">
                  <h5 class="card-title">{{ card.personalName }}</h5>
                  <h6 class="card-subtitle">{{ card.species }}</h6>
                  <br />
                  <p>Type: {{ card.type }}</p>
                  <p>Level: {{ card.level }}</p>
                  <p>Health: {{ card.health }} </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <br />
      {% endfor %}

    <br />
    <br />

      {% for deck in userDecks %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Personal Name</th>
              <th scope="col">Species</th>
              <th scope="col">Type</th>
              <th scope="col">Level</th>
              <th scope="col">Health</th>
            </tr>
          </thead>
          <tbody>
            {% for card in deck.cards %}
              <tr>
                <td>{{ card.personalName }}</td>
                <td>{{ card.species }}</td>
                <td>{{ card.type }}</td>
                <td>{{ card.level }}</td>
                <td>{{ card.health }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br />
      {% endfor %}

    </div>
  </body>
</html>
